.w100
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.common8
{
    float: right;
    margin-right: 3%;
}

.forma
{
  margin-top: 5%;
}

.row
{
  margin-bottom: 2%;
  border-bottom: 1px solid black;
}

.w50
{
  width: 50%;
}

.w33
{
  width: 33.33%;
}

.links
{
  float: left;
}

.grid-w
{
  width: 90%;
  display: inline-block;
}